body {
	background-color: white ;
	color: white;
	font-family: arial;
	position: central;
}

h1 {  
 color: white; 
 letter-spacing: 10px;
 font-family: 'Anton', sans-serif;text-align: center;
}

h2 {color: #e6e1de;
 font-weight: bold;
 margin: 20px auto;text-align: center;
}

div { margin: 30px auto; }



p{
	color: #e6e1de ;
	font-size: x-large;
text-align: center;
}

a {text-decoration: none;
color:#e6e1de;
}
a:hover {
color: black;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

li {color: transparent; display: inline; padding: 15px;}

i {font-size: 50px;}

img {
  width: 30%;
  height: 30%;
  border-radius: 50%;}

.card {box-shadow: 0px 20px 70px rgba(0,0,0,0.1);}

